.login{

    margin: 0 10px 0 10px;
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5)), url("https://images.pexels.com/photos/1002722/pexels-photo-1002722.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;
}

.loginTitle{

    font-size: 50px;

}
.loginForm{

    align-items: center;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    
   
}

.loginForm >label{
    margin: 10px 0;
}

.loginForm >input{
    
    padding: 10px;
    background-color: wheat;
    border: none;
    border-radius: 5px;
    
}


.loginButton{

    margin-top: 20px;
    cursor: pointer;
    background-color: lightcoral;
    border: none;
    width: 100px;
    color: wheat;
    height: 30px;
    border-radius: 10px;

}
.loginButton:disabled{

    cursor: not-allowed;
    background-color:rgb(5, 224, 5) ;

}

.registerButton{

    margin-top: 20px;
    width: 150px;
    height: 30px;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(12, 140, 199);
    border: none;
    color: wheat;
}

.link{

    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    color: aliceblue;
}